.app {
  width: 100vw;
  min-height: 100vh;

  padding: 100px;

  background-color: #0E1733;
  color: #ffffff;

  display: flex;
  flex-direction: column;

  input {
    background: #132047;
    width: 250px;
    padding: 12px;
    border-radius: 2px;
    color: #ffffff;
    border: none;

    &::placeholder {
      color: #A5B1D1;
    }
  }

  &__result {
    span {
      font-weight: 500;
    }
  }
}